<div class="profile">
  <img src="<%= model.avatarPath() %>" class="avatar" />
  <h1><%= model.screenName() %> <i><%= model.fullName() %></i></h1>
</div>

<div class="body">
  <% if (caption = model.caption()) { %>
    <p><%= caption %></p>
  <% } %>

  <% if (model.isVideo()) { %>
    (instagram video)
  <% } else { %>
    <img src="<%= model.imagePath() %>" class="photo" />
  <% } %>
</div>

<ul class="meta">
  <li class="when"><time datetime="<%= model.get("timestamp").toISOString() %>" title="<%= model.get("timestamp") %>"></time></li>
  <li class="service"><a href="<%= model.url() %>">Instagram</a></li>
</ul>
