<div class="profile">
  <img src="<%= model.avatar_url() %>" class="avatar" />
  <h1><%= model.screen_name() %> <i><%= model.full_name() %></i></h1>
</div>

<div class="body">
  <% if (caption = model.caption()) { %>
    <p><%= caption %></p>
  <% } %>

  <% if (model.is_video()) { %>
    <video src="<%= model.video_url() %>" class="video" controls></video>
  <% } else { %>
    <img src="<%= model.image_url() %>" class="photo" />
  <% } %>
</div>

<ul class="meta">
  <li class="when"><time datetime="<%= model.iso_timestamp() %>" title="<%= model.formatted_timestamp() %>"></time></li>
  <li class="service"><a href="<%= model.url() %>">Instagram</a></li>
</ul>
